@import url(https://fonts.google.com/specimen/Varela+Round#standard-styles);

.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  background-color: #808080;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 100%;
  width: 100%;
  list-style: none;
}

.mediaCard{
  display: flex;
  overflow-x: auto;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  min-height: 250px;
}

.card{
  border: solid black 1px; 
  min-width: 250px;
  min-height: 250px;
}

.modal{
  border: solid black 1px;
  width: 400px;
  text-decoration: none;
}
.modalInfo{
  text-decoration: none;
  text-align: center;
}

.footer{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: auto;
}

.modalInfo{
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.cardTitle{
  text-align: center;
  font-size: 40px;
}

.createButtons{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(120, 129, 180);
}
.modalLabel{
  margin-left: 5px;
  margin-right: 5px;
}

.textInput{
  min-height: 100px;
  min-width: 100px;
}